@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?iwysqi');
  src:  url('../fonts/icomoon.eot?iwysqi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?iwysqi') format('truetype'),
    url('../fonts/icomoon.woff?iwysqi') format('woff'),
    url('../fonts/icomoon.svg?iwysqi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shield:before {
  content: "\e900";
}
.icon-rocket:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-git-merge:before {
  content: "\e903";
}
.icon-tools:before {
  content: "\e904";
}
.icon-package:before {
  content: "\e905";
}
.icon-deploy:before {
  content: "\e906";
}
