{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "flow-react-proptypes",
    "transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
