// Header
$theme-blue: rgba(41, 98, 255, 0.85);

// Map
$background-navigation-vector: rgba(182, 222, 255, 1);
$background-darkgray-vector: rgba(34, 35, 38, 1);

// General
$transparent-background: rgba(0, 0, 0, 0);
$shadow-background: rgba(0, 0, 0, 0.25);
$lightgray-border: #aaa;
$error-red: #B91913;

$color-warning : #d6ca3a;
$color-pending : #cacaca;
$color-running : #13acf5;
$color-failed  : #e43434;
$color-success : #7aab4e;

$color-result-failed  : #e43434;
$color-result-success : #FCB421;

$foundation-palette: (
    primary: #4927b0,
    secondary: #777,
    success: #3adb76,
    warning: #ffae00,
    alert: #ec5840
);
