@import '_vars';

@import 'critical';

@import 'base/icomoon';
@import 'components/progress-bar';
@import 'components/details-box';
@import 'components/metrics-arrow';

.main {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

.wrapper {
    @include grid-column;
    @include grid-column-position(center);
    @include grid-row;
}

.item {
    @include grid-column;
    border: 2px solid gray;
    margin: 5px 0;
    color: #000;
    text-align: center;

    a {
        color: #000;
    }

    &--header {
        overflow: hidden;
        border: 2px solid #000;
        background: #777;
        color: white;
    }

    &__icon {
        font-size: 27px;
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @include grid-column(1 of 16);
    }

    &--firewall {
        .item__icon:before {
            content: "\e900";
        }
    }

    &--build {
        .item__icon:before {
            content: "\e901";
        }
    }

    &--pending {
        border-color: $color-pending;

        .table-row {
            color: $color-pending !important;
        }
    }

    &--rejected {
        border-color: $color-failed;
        background: lighten($color-failed, 40%);
        background: linear-gradient(to right, lighten($color-failed, 40%), #FFF, #FFF);

        .item__state {
            color: $color-failed;
        }
    }

    &--succeeded {
        border-color: $color-success;
        background: lighten($color-success, 40%);
        background: linear-gradient(to right, lighten($color-success, 40%), #FFF, #FFF);

        .item__state {
            color: $color-success;
        }
    }

    &--running {
        border-color: $color-running;
        background: lighten($color-running, 40%);
        background: linear-gradient(to right, lighten($color-running, 40%), #FFF, #FFF);

        .item__state {
            color: $color-running;
        }
    }

    &__icon {
        @include grid-column(1 of 16);
    }

    &__id {
        @include grid-column(2 of 16);
    }

    &__owner {
        @include grid-column(1.6 of 16);

        &:after {
            content: "";
            display: inline-block;
        }
    }

    &__startTime {
        @include grid-column(3 of 16);

        &:after {
            content: "";
            display: inline-block;
        }
    }

    &__state {
        @include grid-column(2 of 16);
    }

    &__process {
        @include grid-column(1.6 of 16);
    }
}

.item__details {
    @include grid-row;
    padding: 18px;
    display: flex;
    //flex-wrap: wrap;

    &--appear, &--leave {
        height: 0;
        padding: 0;
        max-height: 0;
        overflow: hidden;
    }
}

.table-column {
    flex: 0 1 auto;
}

.table-row {
    @include grid-row;
    display: flex;
    align-items: center;
    min-height: 50px;

    .item__process {
        opacity: 1;
        transition: opacity 0.2s linear;
    }

    &--active {
        .item__process {
            opacity: 0;
        }
    }
}

.item__process {
    opacity: 1;

    &--running {
        .progress-bar__offset {
            background: $color-running;
        }
    }

    &--failed {
        .progress-bar__offset {
            background: $color-failed;
        }
    }

    &--completed {
        .progress-bar__offset {
            background: $color-success;
        }
    }
}
